body{
    margin: 0;
    padding: 0;
    background: #64b5f6;
    box-sizing: border-box;
}

.container{
    width: 100wh;
    height: 100vh;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4em;
}

.menu-links{
    height: 80px;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}


.menu-links li {
    list-style: none;
    margin: 0 1em;
}

.menu-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.menu-links li a:hover{
    color: blue;
    transition: 300ms;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 80px);
}

main h1 {
    font-size: 64px;
    color: #fff;
}
main h1 span:nth-of-type(1) {
    color: #1292ee;
}
main h1 span:nth-of-type(2) {
    color: #2a3b47;
}

/* Forms */

.input-forms{
    background-color: rgb(249, 231, 247);
    color: #5b4f6e;
    outline: none;
    border: None
}
.label-forms {
    color: blueviolet;
}
