<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    {% endblock %}  
</head>
<body>

    <div class="container">
        <nav class="menu">
            <img src="{{url_for('static', filename='img/palmera.png')}}" alt="Imagen de Palma" width="55" height="55">
                <ul class="menu-links">
                    <li><a href="{{url_for('index')}}">Inicio</a></li>
                    <li><a href="{{url_for('contacto')}}">Contact</a></li>
                    <li><a href="{{url_for('nosotros')}}">Nosotros</a></li>
                    {% if session.username %}
                    <li><a href="">Usuario: {{session.username}}</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                    {% else %}
                    <li><a href="{{url_for('login')}}">Ingresar</a></li>
                    <li><a href="">Registrarse</a></li>
                    {% endif %}
                </ul>
        </nav>   
    {% block content %}
    {% endblock %}
    </div>

    
    
    {% block footer %}
    {% endblock %}


</body>
</html>