{% extends 'base.html' %}
{% block title %}DASHBOARD {% endblock%}
    
{% block content %}
    {% with messages= get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li class="success">{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith%}

    <main><h1>Bienvenidos a nuestra primera plantilla en Flask</h1></main>
    
{% endblock %}

        
    

    
