<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <!--{{name}} es una variable enviada desde render_template -->
    <!--  Hola {{name}} Bienvenido 

     Nombres de la familia:
     {% for name in family %}
        <p>{{name}}</p>
     {% endfor%} -->

    {# Para este ejemplo estamos utilizando, delimitadores de Jinja2, también usamos estructura de control (for) #}

    <!-- {% if name %}
        <h1>Hola {{name}}</h1>
    {% else %}    
        <h1>Hola Mundo</h1>
    {% endif %}

    {# Estructura de control if #} -->


    <!-- <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul>

    <h1>My Webpage</h1>
    {{ a_variable }}

    {# a comment #} -->

<!-- menu -->

<div class="container">
    <nav class="menu">
        <img src="{{url_for('static', filename='img/palmera.png')}}" alt="Imagen de Palma" width="55" height="55">
            <ul class="menu-links">
                <li><a href="">Inicio</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Ingresar</a></li>
                <li><a href="">Registtrarse</a></li>
            </ul>
    </nav>

    <main><h1>Bienvenidos a nuestra primera plantilla en Flask</h1></main>
</div>


<script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>