{% extends "base.html" %}
{% block title%} LOGIN {% endblock %}

{% block content %}
<main>
    <form method='POST' novalidate>
        <h3>Ingrese sus datos</h3>  
        {{form.csrf_token()}}
        <div class="form-group">
            {{form.username.label(class="label-forms")}}
            {{form.username(class="input-forms")}} 
            {% for error in form.username.errors %}
                <li style="color:red">{{error}}</li>
            {% endfor %}   
        </div>
        <br>
        <div class="form-group">
            {{form.password.label}}
            {{form.password()}}
            {% for error in form.password.errors %}
            <li style="color:red">{{error}}</li>
        {% endfor %} 
        </div>
        <br>
        <div>
            {{form.submit()}}
        </div>
        

        <!-- <input type="text" name=username></input><br><br>
        <input type="password" name=password></input><br><br> 
        <button type="submit">Enviar</button> -->

        {% with messages= get_flashed_messages(with_categories=True) %}   
            {% if messages %}
                <ul class="messages">
                    {% for category, message in messages %}
                    <li class="{{category}}">{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith%}

    </form>
</main>
{% endblock%}
        

        
